.masterpassword-body{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding:50px 50px;
    display: flex;
    flex-direction: column;


}
.set-password{
    display:flex;
    flex-direction: column;
    font-size: 20px;
    align-content: flex-start;
    padding:50px 0;
    border-bottom: 2px solid lightgray;
    align-items: start;

}

.set-password > p{
    color: red;
    font-size: 16px;
    font-weight: 700;
}

.set-password-container{
    width: 100%;
    height: 70px;
    display: flex;
    gap:30px;
    padding:15px 0px;
    font-size: 26px;

}

.set-password-container > input{
    width:400px;
    padding:0px 10px;
}

.set-password-container > button{

    padding:0px 30px;
    border:2px solid #d85935;
    border-radius: 8px; 
    font-size: 16px;
    font-weight: 600;;
}

.set-password-container > button:focus , button:hover {

    background-color: black;
    color:white;
    border:2px solid black;

}

@media screen and (max-width: 680px) {
    
     .set-password-container{
       flex-direction: column;
     }
     .set-password-container > input{
       width:100%;
       padding:10px 10px;
   
     }
     .set-password-container > button{
       width: fit-content;
       align-self: center;
       padding: 8px 30px;
     }
   }