/* Account */
.account-menu {
    overflow: auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0px;
    color: black;
    transition-delay: 1s;
    animation: fadeIn 5s;

  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .account-list{
    list-style-type:dot!important;
    padding-bottom: 2px;
    font-weight:600;
    font-size: 10px;
    line-height: 16px;
    padding:4px;

  }
