/* Account */
.account-menu {
    overflow: auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0px;
    color: black;
    transition-delay: 1s;
    animation: fadeIn 1s;

  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  
  .account-list {
    padding: 5px;
    font-size: 14px;
  }
  
  /* .account-btn {
    padding: 4px 10px;
    border-radius: 5px;
    color: #d85935;
    font-weight: 600;
    font-size: calc(0.3em + 1vw);
    border: 2px solid #d85935;
  }
   */
  