

.flex-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.flex-div-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

a {
  text-decoration: none;
}

.btn {
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 5px;
}
.btn:hover {
  background-color:#d85935;
}




/* Component : EditNote */
.editNote-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px 30px;
  padding: 40px;
  border: 2px solid coral;
  border-radius: 5px;
  color: black;
  animation: fadeIn 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* Component:NoteDetail */
.note-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px 30px;
  padding: 40px;
  border: 2px solid coral;
  border-radius: 5px;
  color: black;
  animation: fadeIn 1s;
}

.note-display-title {
  text-align: left;
  font-size: 16px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  min-height: 25px;
  border: 1px solid coral;
}
.note-display-text {
  height: 200px;
  font-size: 14px;
  overflow-y: auto;
}

@keyframes clip {
  0% {
    clip-path: inset(0 100% 0 100%);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}


.note-textarea {
  height: 200px;
}

.hidden{
  display: none;
}
