/* Component : EditNote */
.edit-note {
  display: flex;
  flex-direction: column;
  color: black;
  animation: fadeIn 1s;
  height: 100%;
  width: inherit;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* header elements */
.note-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 0 20px;
  height: 50px;
  box-sizing: border-box;

}
.note-detail-updateTime {
  font-weight: 600;
  font-size: small;
}
.note-edit-input {
  width: 300px;
  height: 30px;
  border: none;
}

.note-edit-content {
  height: 100%;
  /* padding: 0 20px; */
}
.note-edit-textarea {
  width: 100%;
  font-size: 18px;
  line-height: 1.9;
  border: 0px;
  outline: 0px;
  text-align: justify;
  padding: 20px;
  overflow: hidden;
  resize: none;
  border-radius: 0px;
  margin-top: 52px;
  background-color: inherit; 
  box-sizing: border-box;

}

@keyframes clip {
  0% {
    clip-path: inset(0 100% 0 100%);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

.note-btn-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px 50px;
  background-color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  align-items: center;
  width: 90%;
  height: 30px;
}

/* markdown */
.Markdown-editorX {
  background-color: inherit;
  font-size: 24px !important;
  line-height: 1.5 !important;
  color: black;
  border: none;
  outline: none;
  overflow: hidden;
  font-family: monospace;
}
.w-md-editor-content {
  border-radius: 0px;
}
.w-md-editor-toolbar {
  border-radius: 0px;
}
.w-md-editor-text {
  font-size: 24px !important;
  line-height: 1.5 !important;
}
