/* Component : EditNote */
.editNote-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px 30px;
    padding: 40px;
    border: 2px solid coral;
    border-radius: 5px;
    color: black;
    animation: fadeIn 1s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }