.home-Note {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
}

/* home */
.navigate-addnote-btn {
  margin-top: 50px;
  border: 2px solid black;
}
.navigate-addnote-btn:hover {
  background-color: black;
  color: white;
}

/* Footer */

.Footer {
  width: 100%;
  background-color: black;
  position: fixed;
  min-height: 52px;
  bottom: 0;
  z-index: 99;
}
