.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.core-body {
  display: flex;
  flex-direction: row;
  margin: 70px 0px 50px 0px;
  padding: 0;
  min-height: 80vh;
  width: 100%;
  height: auto;
  background-color: antiquewhite;
  /* justify-content: space-between; */
  position: relative;
}
.Header {
  width: 100%;
  background-color: #f5f5f5;
  min-height: 70px;
  position: fixed;
  top: 0;
  z-index: 99;
}
