/* Menu */
@media only screen and (max-width: 600px) {
  .Main-Menu {
    z-index: 7;
  }
}

.Main-Menu {
  position: relative;
  background-color: white;
  box-shadow: 5px 0px 10px grey;
  z-index: 10;
  animation: menuclip 0.5s;
  transition-duration: 1s;
  color: black;
  width: auto;
  height: inherit
}

@keyframes menuclip {
  0% {
    clip-path: inset(0 0 100% 100%);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

.Menu {
  position: sticky;
  top:20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: max-content;
  list-style-type: none;

}
.Menu > li {
  width: 200px;
  text-align: left;
  padding: 10px;
  border-bottom: solid 1px gray;
  transition: color 0.3s ease-in-out;

}
.Menu > li:last-child {
  border-bottom: none;
}

.Menu > li:hover {
  background-color: #d858352b;
  border-radius: 5px;
}
.user-account {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  color: #d85935;
  cursor: pointer;
}
.user-icon {
  margin-right: 20px;
  font-size: larger;
}
.username {
  font-weight: 600;
  font-size: larger;
}

.nav-link {
  font-size: calc(0.5em + 1vw);
  color: black !important;
  font-family: Arial, Helvetica, sans-serif;
}
.nav-link:hover {
  color: #d85935;
}
